/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/713347ty1
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #1a1a1a;
}

.light-section {
    background-color: #fff;
}

/* override */
.dark {
    color: inherit;
    /*border-color: #fff;*/
}

.light {
    color: #1a1a1a;
    border-color: #1a1a1a;
}

.menuitem.dark span {
    font-family: Overpass, sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.menuitem-dark,
.menuitem-dark {
    transition: 0.33s ease;
}

.menuitem.dark {
    overflow: hidden;
    height: 20px;
}

.menuitem-dark {
    margin-top: 0;
}

.menuitem.dark:hover .menuitem-dark {
    margin-top: -20px;
}

h1 {
    font-family: Overpass, sans-serif;
    font-size: 8rem;
    color: #FFFFFF;
    letter-spacing: 9.23px;
    margin: 0;
}

.subheader {
    font-family: Overpass, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1.7px;
}

.floattext span {
    font-family: Overpass, sans-serif;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.86pt;
    display: block;
    cursor: pointer;
    width: 60px;
    height: 22px;
}

.floattext,
.whitelist {
    transition: 0.33s ease-in;
}

.floattext {
    overflow: hidden;
    height: 22px;
}

.whitelistk {
    margin-top: 0;
}

.whitelistcontainer:hover .whitelist {
    margin-top: -22px;
}

button.telegram {
    font-family: Overpass, sans-serif;
    font-size: 11px;
    letter-spacing: 0.86pt;
    background: transparent;
    border: 2px solid;
    transition: background 0.37s ease;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
}

button.telegram.dark:hover {
    color: #1a1a1a;
    background-color: #fff;
    font-family: 'Overpass-Bold', sans-serif;
}

button.telegram.light:hover {
    color: #fff;
    background-color: #1a1a1a;
    font-family: 'Overpass-Bold', sans-serif;
}

h2 {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    letter-spacing: -1.7px;
    line-height: 60px;
}

h3 {
    font-family: Overpass, sans-serif;
    /* the font for this will depend on the header, refer to design to see how big it is for each section */
    font-size: 55px;
    color: #F7F7F7;
    letter-spacing: 0.8px;
}

h4 {
    font-family: Overpass Mono, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
}

h5 {
    font-family: Overpass, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
}

h6 {
    font-family: Overpass, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
}

.numbers {
    width: 0;
    transform: rotate(-90deg);
    font-family: Overpass, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    border-left: 1px solid #000;
    padding-left: 8px;
}

.papers {
    font-family: Overpass, sans-serif;
    font-size: 23px;
    letter-spacing: 1.15px;
}

.papers .descriptions {
    font-family: Overpass, sans-serif;
    font-size: 12px;
    letter-spacing: 0.77pt;
}

.paper-section .contribute {
    font-family: Overpass, sans-serif;
    font-size: 18px;
    letter-spacing: 1.33px;
    margin: 75px auto 20px;
    text-align: center;
    max-width: 400px;
}

.core {
    font-family: Overpass, sans-serif;
    font-size: 144px;
    letter-spacing: 10.29px;
}

.core .subtitle {
    font-family: Overpass, sans-serif;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.core .sectiontitle {
    font-size: 59px;
    letter-spacing: 1px;
}

.core .definition {
    font-family: Overpass, sans-serif;
    font-size: 23px;
    letter-spacing: 1.15px;
}

.core .description {
    font-family: Overpass, sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.core .usecases {
    font-family: Overpass Mono, sans-serif;
    font-size: 15px;
    letter-spacing: 1.1px;
}

.core .usecases .read {
    font-family: Overpass Mono, sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.skip {
    font-family: Overpass, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1.3px;
}

.team {
    font-family: Overpass, sans-serif;
    font-size: 23px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
}

.team .position {
    font-family: Overpass Mono, sans-serif;
    font-size: 11px;
    letter-spacing: 0;
}

.faq .question {
    font-family: Overpass, sans-serif;
    font-size: 20px;
    letter-spacing: 1.1px;
}

.faq .ask {
    font-family: Overpass, sans-serif;
    font-size: 18px;
    letter-spacing: 1.33px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*************************************************************************************************/
/*************************************************************************************************/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;

    overflow: hidden;
}

html, body {
    font-family: Overpass, sans-serif;
    height: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.visible {
    opacity: 1 !important;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.flex-rw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #1a1a1a;
}

.section {
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 80px;
    overflow: hidden;
}

.section.inverted {
    background-color: #fff;
    color: #1a1a1a;
}

.xshape {
    position: relative;
    height: 50%;
    text-align: center;
    margin: auto 20px;
}

.xshape svg {
    position: absolute;
    top: 0;
    left: 0;
}

.xshape img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.nav {
    display: flex;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 13px;
    letter-spacing: 1.1px;
}

.nav > a {
    /*padding: 10px;*/
    margin-right: 18px;
    opacity: 0;
}

.home-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.home-section .left-col {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.home-section .title-container {
    max-width: 350px;
    margin: 0 auto;
}

.home-section .title-container .content {
    font-size: 0.9rem;
}

.home-section .title-container .hl {
    border-top: solid 1px #fff;
    margin-top: -20px;
    margin-bottom: 12px;
    width: 30%;
}

.home-section .ball-container {
    flex: 1;
    text-align: center;
}

.project-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1000px;
    padding: 15px;
}

.project-section .content{
    z-index: 10;
}

.project-section h5 {
    margin-bottom: 50px;
}

.project-section .reason {
    font-size: 0.9rem;
    margin-right: 30px;
    margin-bottom: 40px;
    max-width: 290px;
}


.project-section .numbers {
    margin-bottom: 40px;
}

.press-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1000px;
    padding: 15px;
}

.press-section .content{
    z-index: 10;
}

.press-section h2 {
    margin-bottom: 100px;
}

.press-section .grid {
    margin-left: -15px;
    margin-right: -15px;
}

.press-section .grid-item {
    border: solid 1px #f2f2f2;
    width: 162.5px;
    height: 162.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: -1px;
    margin-top: -1px;
    color: #c4c4c4;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.press-section .grid-item img {
    width: 100%;
}

.paper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1000px;
    padding: 15px;
}

.paper-section .paper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 280px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.paper-section .paper .title {
    padding-bottom: 30px;
    border-bottom: solid 1px #fff;
    margin-bottom: 15px;
}

.core-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1000px;
    padding: 15px;
}

.core-section h4 {
    max-width: 120px;
    text-align: center;
}

.component-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1200px;
    padding: 15px;
}

.component-section .title {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
}

.component-section .item {
    margin-right: 60px;
    margin-bottom: 20px;
}

.component-section .item img,
.component-section .item svg {
    width: 100%;
    max-width: 300px;
}

.component-section .item:last-child {
    margin-right: 0;
}

.component-section .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
}

.component-section .list div {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px #fff;
}

/* MOBILE */

@media (max-width: 800px) {
    html, body {
        font-size: 14px;
    }

    .section {
        padding-top: 70px;
    }
}

@media (max-width: 380px) {
    .nav > a {
        margin-right: 10px;
    }
}


@media (max-width: 600px) {
    .press-section h2 {
        margin-bottom: 40px;
    }
    .press-section .grid-item{
        height: 100px;
        width: 100px;
    }

    .project-section .reason {
        margin-bottom: 15px;
    }
}