/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/713347ty1
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #1a1a1a;
    overflow: hidden;
}

.light-section {
    background-color: #fff;
}

/* override */
.dark {
    color: inherit;
    /*border-color: #fff;*/
}

.light {
    color: #1a1a1a;
    border-color: #1a1a1a;
}

.menuitem.dark span {
    font-family: Overpass, sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.menuitem-dark,
.menuitem-dark {
    transition: 0.33s ease;
}

.menuitem.dark {
    overflow: hidden;
    height: 20px;
}

.menuitem-dark {
    margin-top: 0;
}

.menuitem.dark:hover .menuitem-dark {
    margin-top: -20px;
}

h1 {
    font-family: Overpass, sans-serif;
    font-weight: 900;
    font-size: 7.3rem;
    color: #FFFFFF;
    letter-spacing: 9.23px;
    margin: 0;
}

.floattext span {
    font-family: Overpass, sans-serif;
    font-weight: 800;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.86pt;
    display: block;
    cursor: pointer;
    width: 65px;
    height: 22px;
}

.floattext,
.whitelist {
    transition: 0.33s ease-in;
}

.floattext {
    overflow: hidden;
    height: 22px;
}

.whitelistk {
    margin-top: 0;
}

.whitelistcontainer {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 10;
}

.whitelistcontainer:hover .whitelist {
    margin-top: -22px;
}

.telegram {
    font-family: Overpass, sans-serif;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 0.86pt;
    background: transparent;
    border: 2px solid;
    transition: background 0.37s ease;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}

.section .telegram:hover {
    color: #1a1a1a;
    background-color: #fff;
    border: 2px solid #fff;
}

.section.inverted .telegram:hover {
    color: #fff;
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
}

h2 {
    font-family: Overpass, sans-serif;
    font-weight: 800;
    font-size: 3.7rem;
    letter-spacing: -1.7px;
    line-height: 60px;
    z-index: 3;
}

h3 {
    font-family: Overpass, sans-serif;
    position: absolute;
    font-weight: 800;
    font-size: 7.5rem;
    color: #F7F7F7;
    letter-spacing: 0.8px;
    z-index: -1;
}

h4 {
    font-family: Overpass Mono, sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0;
}

h5 {
    font-family: Overpass, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
}

h6 {
    font-family: Overpass, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
}

.numbers {
    width: 0;
    transform: rotate(-90deg);
    font-family: Overpass, sans-serif;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0;
    border-left: 1px solid #000;
    padding-left: 20px;
}

.papers {
    font-family: Overpass, sans-serif;
    font-size: 23px;
    letter-spacing: 1.15px;
}

.papers .descriptions {
    font-family: Overpass, sans-serif;
    font-size: 12px;
    letter-spacing: 0.77pt;
}

.papers-section .contribute,
.faqs-section .contribute {
    font-family: Overpass, sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1.33px;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    display: block;
}

.core .description {
    font-family: Overpass, sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.core .usecases {
    font-family: Overpass Mono, sans-serif;
    font-size: 15px;
    letter-spacing: 1.1px;
}

.core .usecases .read {
    font-family: Overpass Mono, sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.skip {
    font-family: Overpass, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1.3px;
}

.team {
    font-family: Overpass, sans-serif;
    font-size: 23px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
}

.team .position {
    font-family: Overpass Mono, sans-serif;
    font-size: 11px;
    letter-spacing: 0;
}

.faq .question {
    font-family: Overpass, sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1.1px;
}

.faq .ask {
    font-family: Overpass, sans-serif;
    font-size: 18px;
    letter-spacing: 1.33px;
}

.slide-title {
    animation: glitch-anim-title 0.25s linear 3s alternate 5 backwards;
}

@keyframes glitch-anim-title {
    0%, 100% {
        transform: translate3d(2px, -2px, 0);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    20% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    41% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    52% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    61% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    75% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    80% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    96% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*************************************************************************************************/
/*************************************************************************************************/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    /*overflow: visible !important;*/
}

html, body {
    font-family: Overpass, sans-serif;
    height: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.visible {
    opacity: 1 !important;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.flex-rw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.hide-sm {
    display: inline-block !important;
}

.hide-sm-block {
    display: block !important;
}

.center-text {
    text-align: center;
}

.flex-rw.center {
    justify-content: center;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #1a1a1a;
}

.section, .slide {
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 80px;
    overflow: hidden;
}

.no-top-padding {
    padding-top: 0 !important;
}

.section.inverted {
    background-color: #fff;
    color: #1a1a1a;
}

.xshape {
    position: relative;
    height: 50%;
    text-align: center;
    margin: auto 20px;
}

.xshape svg {
    position: absolute;
    top: 0;
    left: 0;
}

.xshape img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.nav {
    display: flex;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 13px;
    letter-spacing: 1.1px;
    z-index: 20;
}

.nav > a {
    /*padding: 10px;*/
    margin-right: 18px;
    opacity: 0;
}

.home-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.home-section .close {
    display: none;
}

.home-section .left-col {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.home-section .title-container {
    max-width: 350px;
    margin: 0 auto;
}

.home-section .title-container .content {
    font-size: 0.73rem;
    font-family: Overpass, sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1.7px;
}

.home-section .title-container .hl {
    border-top: solid 1px #fff;
    margin-top: 10px;
    margin-bottom: 12px;
    width: 25%;
}

.home-section .ball-container {
    flex: 1;
    text-align: center;
}

.project-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1000px;
    padding: 15px;
}

.project-section .content {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.project-section .content h3 {
    margin: 180px 0;
    align-self: center;
}

.project-section h5 {
    margin-bottom: 50px !important;
}

.project-section .reason {
    font-size: 0.9rem;
    margin-right: 25px;
    margin-bottom: 40px;
    max-width: 280px;
    font-weight: 400;
}

.project-section .numbers {
    margin-bottom: 20px;
}

.project-section h2 {
    margin-bottom: 65px;
}

.press-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1000px;
    padding: 15px;
}

.press-section .content {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.press-section h2 {
    margin-bottom: 100px;
}

.press-section h3 {
    align-self: center;
    margin: 160px 0;
    font-size: 3rem;
}

.press-section .grid-item {
    border: solid 1px #f2f2f2;
    width: 162.5px;
    height: 162.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: -1px;
    margin-top: -1px;
    color: #c4c4c4;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: 1s ease;
}

.press-section .grid-item:hover {
    color: #1a1a1a;
}

.press-section .grid-item img {
    width: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: 0.37s ease;
}

.press-section .grid-item img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.papers-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1050px;
    padding: 15px;
}

.papers-section .content {
    z-index: 10;
}

.papers-section .paper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 290px;
    margin-bottom: 40px;
    margin-right: 60px;
    min-height: 130px;
}

.papers-section .paper .title {
    padding-bottom: 30px;
    border-bottom: solid 1px #fff;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 23px;
    letter-spacing: 1.15px;
    transition: 0.5s ease;
}

.papers-section .paper .title:hover {
    padding-bottom: 10px;
    border-width: 2px;
}

.papers-section .paper .title a {
    padding: 10px 0;
}

.papers-section .paper .descriptions {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.77pt;
    max-width: 260px;
}

.core-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1000px;
    padding: 15px;
    position: relative;
}

.core-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.core-section h1 {
    font-size: 9rem;
    letter-spacing: 10.29px;
}

.core-section h7 {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.2px;
    max-width: 120px;
    text-align: center;

}

.component-section {
    margin: -100px auto 0 auto;
    max-width: 1000px;
    padding: 15px;
    position: relative;
    width: 100%;
}

.component-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 100%;
}

.component-section h2 {
    font-weight: 700;
    font-size: 59px;
    max-width: 350px;
    letter-spacing: 1px;
    z-index: 2;
}

.component-section .title {
    display: flex;
    align-items: center;
    max-width: 250px;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.15px;
}

.component-section .item {
    margin-right: 59px;
    margin-bottom: 50px;
    min-width: 255px;
    flex: 1;
    z-index: 20;
}

.component-section .item img,
.component-section .item svg {
    width: 100%;
    max-width: 300px;
}

.component-section .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.component-section .list div {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px #fff;
}

.component-section .list .usecases {
    font-family: Overpass Mono, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.7px;
}

.sale-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: -230px auto 0 auto;
    width: 100%;
    padding: 15px;
    position: relative;
}

.sale-section h2 {
    margin-bottom: 100px;
}

.sale-section h3 {
    align-self: center;
    font-size: 5rem;
    margin: 115px 0;
}

.sale-section .content {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.sale-section .timeline {
    width: 90%;
    margin: 0 auto;
}

.sale-section .block {
    position: relative;
    height: 65px;
    border-top: solid 3px #000;
    border-left: solid 1px #000;
    flex: 1;
}

.sale-section .block:last-child {
    flex: 0;
    width: 0;
}

.sale-section .block > .text {
    font-family: Overpass Mono, sans-serif;
    font-weight: 600;
    letter-spacing: '0.6px';
    position: absolute;
    bottom: -33px;
    left: -3px;
    font-size: 0.75rem;
    white-space: nowrap;
}

.team-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: -100px auto 0;
    width: 100%;
    padding: 15px;
    position: relative;
}

.team-section .content {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.team-section .content h3 {
    font-size: 5rem;
    margin: 115px;
}

.team-section .description {
    font-family: Overpass Mono, sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    max-width: 70%;
}

.team-section .description .experience {
    font-family: Overpass Mono, sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
}

.team-section .member {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-weight: 600;
    margin-bottom: 40px;
}

.team-section .member a{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.team-section .member.wrap {
    flex-basis: 100%;
}

.team-section .member {
    margin-bottom: 10px;
}

.team-section .member img {
    margin-bottom: 15px;
    max-width: 130px;
}

.faqs-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -100px auto 0 auto;
    max-width: 1200px;
    padding: 15px;
    width: 100%;
}

.faqs-section .content {
    z-index: 10;
    width: 100%;
}

.faqs-section .question {
    flex: 1;
    margin-right: 35px;
    min-width: 250px;
    max-width: 260px;
    margin-bottom: 20px;
}

.faqs-section .flex-rw {
    min-height: 280px;
}

.line {
    border-top: solid 1px #000;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    /* sum of numbers below need to == -width */
    margin-left: -70px;
    margin-right: 10px;
}

.linewhite {
    border-top: solid 1px #fff;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    /* sum of numbers below need to == -width */
    margin-left: -70px;
    margin-right: 10px;
}

.line.light {
    border-top: solid 1px #fff;
}

.social {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.section.horizontal .social {
    display: none;
}

.social a {
    display: block;
    margin: 20px;
    color: #fff;
    background-color: #000;
    transition: background 0.3s ease;
}

.social a svg {
    height: 2rem;
    width: auto !important;
    margin-top: -5px;
    margin-bottom: -5px;
    vertical-align: middle !important;
}

.social a:hover {
    color: #000;
    background-color: #fff;
}

.close {
    font-family: Overpass, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.5rem;
    cursor: pointer;
}

.fp-controlArrow.fp-prev {
    left: 10px;
    border-width: 30px 26px 30px 0;
    z-index: 20;
}

.fp-controlArrow.fp-next {
    right: 10px;
    border-width: 30px 0 30px 26px;
    z-index: 20;
}

/* Laptop */
@media (max-width: 1024px) {
    html, body {
        font-size: 13px;
    }

    .nav {
        top: 20px;
    }

    h1, h2, h3, h4, h5 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
}

/* TABLET */
@media (max-width: 768px) {
    .section {
        padding-top: 50px;
    }

    .telegram {
        bottom: 15px;
        right: 15px;
    }

    .whitelistcontainer {
        left: 15px;
        bottom: 15px;
    }

    .floattext {
        height: 16px;
    }

    /*.floattext span {*/
    /*line-height: inherit;*/
    /*}*/
    .social a {
        margin: 15px;
    }

    .decolines,
    .close {
        display: none;
    }

    h1, h2, h3, h4, h5 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        line-height: 1.1;
    }

    h2 {
        font-size: 2.5rem !important;
    }

    h3 {
        font-size: 5rem !important;
    }

    .project-section h5 {
        margin-bottom: 20px !important;
    }

    .project-section .reason {
        margin-bottom: 30px;
    }

    .project-section .numbers {
        transform: none;
        margin-bottom: 15px;
        padding-left: 10px;
    }

    .press-section {
        margin: -80px auto 0 auto;
    }

    .papers-section .contribute {
        margin-top: 20px;
    }

    .component-section .item {
        margin-right: 15px;
        margin-bottom: 30px;
    }

    .component-section {
        margin: -50px auto 0 auto;
    }

    .component-section .item img, .component-section .item svg {
        max-width: 200px;
        max-height: 200px;
        width: auto;
        height: auto;
    }

    .sale-section .timeline {
        margin-right: 95px;
    }

    .table-space-around {
        justify-content: space-around;
    }

    .press-section .grid-item {
        width: 130px;
        height: 130px;
    }

    .papers-section .paper {
        margin-bottom: 20px;
    }

    .project-section {
        margin: -60px auto 0 auto;
    }

    .project-section h4 {
        display: none;
    }
}

/* MOBILE */
@media (max-width: 425px){
    html, body {
        font-size: 12px;
    }

    .hide-sm,
    .hide-sm-block {
        display: none !important;
    }

    .nav {
        right: 0;
        left: 0;
        justify-content: space-around;
    }

    .nav > a {
        margin-right: 0;
    }

    .papers-section {
        margin: -75px auto 0 auto;
    }

    .project-section .reason {
        margin-bottom: 20px;
    }

    .papers-section h4 {
        display: none;
    }

    .papers-section .paper {
        min-height: 80px;
        margin-bottom: 10px;
    }

    .papers-section .paper .title {
        font-size: 1.3rem;
        padding-bottom: 5px;
    }

    .papers-section .paper .descriptions {
        font-size: 0.9rem;
    }

    .papers-section .contribute, .faqs-section .contribute {
        font-size: 1.15rem;
    }

    .press-section .grid-item {
        width: 100px;
        height: 100px;
    }

    .team-section {
        margin: -40px auto 0;
    }

    .team-section .member img {
        max-width: 90px;
    }

    .faqs-section {
        margin: -40px auto 0 auto;
    }

    .faqs-section h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .faqs-section .question {
        /*height: 90px;*/
    }

    .component-section .item {
        margin-bottom: 10px;
    }

    h1, h2, h3, h4, h5 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        line-height: 1;
    }

    h2 {
        font-size: 2rem !important;
    }

    h3 {
        font-size: 4rem !important;
    }

    .telegram {
        bottom: 8px;
        right: 8px;
    }

    .whitelistcontainer {
        left: 8px;
        bottom: 8px;
    }

    .section h4 {
        display: none;
    }

    .fp-controlArrow.fp-prev {
        border-width: 20px 18px 20px 0;
    }

    .fp-controlArrow.fp-next {
        border-width: 20px 0 20px 18px;
    }
}

@media (max-width: 972px) {
    .component-section .table-space-around {
        justify-content: space-around;
    }

    .component-section .table-space-around .item {
        flex: 0;
    }
}

/* Faqs */
@media (max-width: 1170px) {
    .faqs-section .flex-rw {
        min-height: 380px;
    }
}

@media (max-width: 600px) {

    .faqs-section h4 {
        display: none;
    }

    .faqs-section .question {
        margin-bottom: 12px;
    }

    .faqs-section .flex-rw {
        min-height: 400px;
    }
}

/*********************************/

.accordion dl,
.accordion-list {
    /*border: 1px solid #ddd;*/
}

.accordion dl:after,
.accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    /*background-color: #2ba659;*/
}

.accordion dd,
.accordion__panel {
    margin-left: 25px;
}

.accordion p {
    padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    /*background-color: #eee;*/
}

.accordionTitle,
.accordion__Heading {
    display: flex;
    align-items: center;
    font-family: Overpass, sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.1px;
    /*background-color: #38cc70;*/
    /*text-align: center;*/
    /*font-weight: 700;*/
    /*padding: 2em;*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*color: #fff;*/
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    /*border-bottom: 1px solid #30bb64;*/
    margin-bottom: 5px;
}

.accordionTitle:before,
.accordion__Heading:before {
    content: "+";
    font-size: 1.5em;
    display: inline-flex;
    margin-right: 10px;
    /*line-height: 0.5em;*/
    /*float: left;*/
    transition: 0.3s ease-in-out;
}

/*.accordionTitle:hover,*/
/*.accordion__Heading:hover {*/
/*background-color: #2ba659;*/
/*}*/

/*.accordionTitleActive,*/
/*.accordionTitle.is-expanded {*/
/*background-color: #2ba659;*/
/*}*/
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    margin-top: -5px;
}

.accordionItem {
    font-family: Overpass Mono, sans-serif;
    font-weight: 400;
    font-size: 12px;
    height: auto;
    max-height: 200px;
    overflow: hidden;
    /*max-height: 30px;*/
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        /*max-height: 10em;*/
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
